.service-template {
    &__container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        // margin-bottom: 1vw;
        width: 60vw;
    }

    &__section {
        display: flex;
        flex-direction: row;
        gap: 1.5vw;
    }

    &__col1 {
        // height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__col2 {
        // height: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1vw;

        &>p {
            margin: 0;
            font-size: 1vw;
        }
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vw;
    }


    &__title {
        margin: 0 0 1vw 0;
        font-size: 1.8vw;
        font-weight: normal;
    }

    &__subtitle {
        margin: 0 0 1vw 0;
        font-size: 1.2vw;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1vw;
    }

    &__body {
        text-align: justify;
        font-size: 1vw;
        overflow-y: auto;
        max-height: 20vh;
        padding: 1rem;
        border: 1px solid lightgray;
        border-radius: 1rem;
    }

    &__open-hours {
        font-weight: normal;
        margin: 1vw 0 0 0;
        font-size: 1.2vw;
    }

    &__prices {
        width: 6rem;
        height: 6rem;
        background-color: #dfe6ff;
        border-radius: 50%;
        // padding: .3vw .5vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-detail {
            font-weight: normal;
            margin: 1vw 0 0 0;
            font-size: 1.2vw;
        }

        &-text {
            font-size: 1.2rem;
            color: #373737;
            margin: 1rem;

            &-voluntary {
                font-size: .9vw;
                color: #373737;
            }
        }
    }

    &__btn {
        border: 1px solid #EBD28D;
        border-radius: 1vw;
        background-color: #fff8ec;
        font-size: 1.2vw;
        padding: .8vw;
        text-align: center;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #EBD28D;
        }

        &:active {
            outline: none;
        }
    }

    &__subservice {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: .7vw;
        // width: 30vw;
        border: 1px solid lightgray;
        border-radius: 1rem;
        cursor: pointer;
        transition: .3s;

        &:hover {
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
            transform: translate(1%, 1%);
            transition: .3s;
        }

        &-details {
            display: flex;
            flex-direction: column;
            width: 80%;
        }

        &-title {
            margin: 0 0 .2vw 0;
            // font-weight: normal;
            font-size: 1vw;
        }

        &-subtitle {
            margin: 0;
            font-weight: normal;
            font-size: .8rem;
        }

        &-pacients {
            margin: 0;
            font-weight: normal;
            font-size: .9rem;
        }

        &-open-hours {
            margin: .4vw 0 0 0;
            font-weight: normal;
            font-size: 1rem;
        }

        &-price {
            width: 5rem;
            height: 5rem;
            background-color: #dfe6ff;
            border-radius: 50%;
            // padding: .3vw .5vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-text {
                font-size: 1.1rem;
                color: #373737;
                margin: 1rem;

                &-voluntary {
                    font-size: .9vw;
                    color: #373737;
                }
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    .service-template {
        &__container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            // margin-bottom: 1vw;
            width: 100%;
            padding-top: 0;
            overflow: auto;
        }

        &__section {
            display: flex;
            flex-direction: column;
            gap: 1.5vw;
            width: 100%;
        }

        &__col1 {
            height: 20vh;
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__col2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 4vw;
            margin-top: 3vw;

            &>p {
                margin: 0;
                font-size: 4vw;
            }
        }

        &__row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1vw;
            width: 90vw;
        }


        &__title {
            margin: 2vw;
            font-size: 6vw;
            font-weight: normal;
        }

        &__subtitle {
            margin: 2vw;
            font-size: 4vw;
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0;
        }

        &__body {
            text-align: justify;
            font-size: 4vw;
            overflow-y: auto;
            max-height: unset;
            padding: .2rem 1rem;
            width: 80vw;
            border: none;
            border-radius: 1rem;
        }

        &__open-hours {
            font-weight: normal;
            margin: 0 3vw !important;
            font-size: 4vw;
            width: 80vw;
        }

        &__prices {
            width: 7rem !important;
            height: 3rem !important;
            background-color: #dfe6ff;
            border-radius: 3vw;
            // padding: .3vw .5vw;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &-detail {
                font-weight: normal;
                margin: 0 3vw !important;
                font-size: 4vw;
                width: fit-content;
            }

            &-text {
                font-size: 1.2rem;
                color: #373737;
                margin: .6rem;

                &-voluntary {
                    font-size: 2.5 !important;
                    color: #373737;
                    margin: 0;
                }
            }
        }

        &__btn {
            border: 1px solid #EBD28D;
            border-radius: 3vw;
            background-color: #fff8ec;
            font-size: 6vw;
            padding: 2vw;
            text-align: center;
            cursor: pointer;
            transition: .3s;
            width: 80vw;
            margin: 0 5vw;

            &:hover {
                background-color: #EBD28D;
            }

            &:active {
                outline: none;
            }
        }

        &__subservice {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            width: 80vw;
            margin: 0 5vw;
            border: 1px solid lightgray;
            border-radius: 1rem;
            cursor: pointer;
            transition: .3s;
            box-shadow: 0.3rem .3rem 1rem rgba(211, 211, 211, 0.514);

            &:hover {
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                transform: translate(1%, 1%);
                transition: .3s;
            }

            &-details {
                display: flex;
                flex-direction: column;
                width: 80%;
            }

            &-title {
                margin: 1vw 2vw;
                font-weight: normal;
                font-size: 4.5vw;
            }

            &-subtitle {
                margin: 2vw;
                font-weight: normal;
                font-size: 3vw;
            }

            &-pacients {
                margin: 0 2vw;
                font-weight: normal;
                font-size: 3vw;
            }

            &-open-hours {
                margin: 0 0 2vw 2vw;
                font-weight: normal;
                font-size: 3vw;
            }

            &-price {
                width: 4rem;
                height: 4rem;
                background-color: #dfe6ff;
                border-radius: 50%;
                margin: 0 2vw;
                // padding: .3vw .5vw;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &-text {
                    font-size: .9rem;
                    color: #373737;
                    margin: 1rem;

                    &-voluntary {
                        font-size: 2.5vw !important;
                        color: #373737;
                    }
                }
            }
        }
    }
}