.whatsapp-btn {
    &__container {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 2vw;
        cursor: pointer;
        z-index: 1;
        transition: .5s;
        transform: translateX(200%);

        &:hover .whatsapp-btn__image {
            filter: invert(92%) sepia(20%) hue-rotate(324deg) brightness(102%) contrast(84%);
            transition: .3s;
        }
    }

    &__link {}

    &__image {
        height: 3vw;
        filter: invert(72%) sepia(0%) saturate(0%) hue-rotate(98deg) brightness(95%) contrast(92%);
        transition: .3s;
    }
}