.home {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 0vw 0 6vw 0;
        position: relative;
    }

    &__bg-video-container {
        position: relative;
        width: 100%;
        height: 91vh;
        animation: fade-in 1s ease-in;
        /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
    }

    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 91vh;
        object-fit: cover;
    }

    &__bg-video-overlay {
        position: absolute;
        color: white;
        width: 100%;
        height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.776));
        animation: fade-in 1.5s ease-in;

        &-title {
            font-size: 5vw;
            margin: 0;
            font-weight: normal;
            cursor: default;
        }

        &-subtitle {
            font-size: 2vw;
            margin: 0;
            font-weight: normal;
            cursor: default;
        }

        &-logo {
            height: 8vw;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(205deg) brightness(108%) contrast(101%);
        }
    }

    &__section {
        margin: 0;
        height: 100vh;
        padding: 2vw 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
        }

        &-col1 {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &-col2 {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-title {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 2.6vw;
            font-weight: normal;
            margin: 1vw 0;
        }

        &-subtitle {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 1.6vw;
            font-weight: 200;
            margin: 1vw 0;
            text-align: center;
        }

        &-text {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 1.2vw;
            margin: .4vw 0;
        }

        &-about {
            &-image {
                width: 80%;
                // margin: 2vw;
                // border-radius: 50%;
                border-radius: 1vw;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                left: 0;
                top: 0;
            }

            &-foot-text {
                text-align: center;
                font-size: 1vw;
                margin-top: 3vw;
            }
        }

        &-mission {
            overflow: hidden;
            &-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                align-self: center;
            }
        }
        &-pres {
            &-image {
                height: 30%;
                
            }
        }
        &-symptoms {
            &-title {
                margin: 0;
                text-align: left;
                font-size: 1.6vw;
                font-weight: bold;
            }
            &-image {
                height: 70%;
            }
        }
        &-tools {
            &-title {
                margin: 0;
                text-align: left;
                font-size: 1.6vw;
                font-weight: bold;
            }
            &-image {
                height: 25vh;
                margin: 5vh 5vh 0 0;
                align-self: flex-end;
            }
        }
    }

    &__event {
        &-calendar {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2vw 0;
        }

        &-list {
            display: flex;
            flex-direction: column;
            // gap: 1vw;
            background-color: #fff;
            border-radius: .5vw;
            // padding: 1vw 2vw;
            // width: 100%;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
        }

        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2vw;
            padding: 1.5vw;
            border-bottom: 1px solid lightgray;
            transition: .3s;
            cursor: pointer;
            border-radius: .5vw;

            &:hover {
                background-color: #e9edff;
            }
        }

        &-schedule {
            font-size: 1vw;
            color: gray;
            text-align: center;
            width: 10%;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .5vw;

            &-wrapper {
                height: 8vw;
                width: 25%;
                overflow: hidden;
                border-radius: .5vw;
            }
        }

        &-details {
            height: 100%;
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 1vw;
            //    justify-content: space-between;
        }

        &-title {
            font-size: 1vw;
            margin: 0;
        }

        &-subtitle {
            font-size: .9vw;
            font-weight: normal;
            margin: 0;
        }

        &-venue {
            font-size: .9vw;
            font-weight: normal;
            margin: 0;
            color: #29376f;
        }
    }

    &__card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4vw;
        transition: .3s;
    }

    &__modal {
        &-container {
            display: flex;
            flex-direction: column;
            position: fixed;
            background-color: white;
            z-index: 5;
            border: 1px solid rgb(237, 237, 237);
            border-radius: 1vw;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.417);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2vw;
            overflow: hidden;
            min-width: 55vw;
            // min-height: 70vh;
        }

        &-close {
            font-size: 1.5vw;
            color: gray;
            position: absolute;
            margin: 0;
            right: 0;
            cursor: pointer;
            margin: -1vw 1.1vw;
            transition: .3s;
            font-family: Arial, Helvetica, sans-serif !important;

            &:hover {
                color: #EBD28D;
            }
        }

        &-image {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 640px) {
    .home {
        &__container {
            padding: 22vw 0 60vw 0;
        }

        &__postlist {
            gap: 6vw;
            margin-top: 5vw;
        }
    }
}