.home {
    &__container {
        display: flex;
        flex-direction: column;
        padding: 0vw 0 6vw 0;
        position: relative;
    }

    &__bg-video-container {
        position: relative;
        width: 100%;
        height: 91vh;
        animation: fade-in 1s ease-in;
        /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
    }

    &__bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 91vh;
        object-fit: cover;
    }

    &__bg-video-overlay {
        position: absolute;
        color: white;
        width: 100%;
        height: 91vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.776));
        animation: fade-in 1.5s ease-in;

        &-title {
            font-size: 5vw;
            margin: 0;
            font-weight: normal;
            cursor: default;
        }

        &-subtitle {
            font-size: 2vw;
            margin: 0;
            font-weight: normal;
            cursor: default;
        }

        &-logo {
            height: 8vw;
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(205deg) brightness(108%) contrast(101%);
        }
    }

    &__section {
        margin: 0;
        height: 100vh;
        padding: 2vw 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
        }

        &-col1 {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        &-col2 {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-title {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 2.6vw;
            font-weight: normal;
            margin: 1vw 0;
            font-family: 'Belleza', sans-serif;
        }

        &-subtitle {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 1.6vw;
            font-weight: 200;
            margin: 1vw 0;
            text-align: center;
        }

        &-text {
            opacity: 0;
            animation: move-y-up 1s forwards;
            font-size: 1.2vw;
            margin: .4vw 0;
        }

        &-about {
            &-image {
                width: 80%;
                border-radius: 1vw;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                margin: auto 0;
            }

            &-foot-text {
                text-align: center;
                font-size: 1vw;
                margin-top: 3vw;
            }
        }

        &-mission {
            overflow: hidden;

            &-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                align-self: center;
                animation: fade-in 2s forwards;
            }
        }

        &-pres {
            &-image {
                height: 30%;
            }
        }

        &-symptoms {
            &-title {
                margin: 0;
                text-align: left;
                font-size: 1.6vw;
                font-weight: bold;
                font-family: 'Belleza', sans-serif;
            }

            &-image {
                height: 70%;
            }
        }

        &-tools {
            &-title {
                margin: 0;
                text-align: left;
                font-size: 1.6vw;
                font-weight: bold;
                font-family: 'Belleza', sans-serif;
            }

            &-image {
                height: 25vh;
                margin: 5vh 5vh 0 0;
                align-self: flex-end;
            }
        }

        &-logo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh;

            &-image {
                width: 20%;
            }
        }
    }

    &__discount {
        &-row {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            align-items: center;
            justify-content: center;
            height: 30vh;
            margin: 2rem 0;
        }

        &-card {
            width: 25vw;
            height: 10vw !important;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: relative;
            text-align: center;
            padding: 1.2vw 2.8vw;
            border-radius: 1rem;
            margin: 0 3.5rem;
            height: 15vh;
            transition: .5s;
            position: relative;

            &:hover {
                box-shadow: 45px 38px 64px -37px rgba(0, 0, 0, 0.54);
                transform: translateY(-2%) rotate(-1deg);
            }

        }

        &-pricetag {
            width: 35vw;
            position: absolute;
            right: -2%;
            filter: invert(95%) sepia(13%) saturate(3142%) hue-rotate(302deg) brightness(124%) contrast(91%);
            z-index: 1;
        }

        &-percentage {
            font-family: 'Londrina Outline', cursive;
            font-size: 7vw;
            margin: 0;
            width: 30%;
        }

        &-insolvence {
            font-size: 1.5rem;
            margin: 0;
            width: 50%;
        }

        &-text {
            font-size: .9vw;
            margin: 0;
            width: 40%;
            margin-left: 3vw;
            cursor: default;
        }
    }

    &__event {
        &-calendar {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 2vw 0;
        }

        &-list {
            display: flex;
            flex-direction: column;
            // gap: 1vw;
            background-color: #fff;
            border-radius: .5vw;
            // padding: 1vw 2vw;
            // width: 100%;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
            max-height: 62vh;
            overflow: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                background: #dadada;
                border-radius: .5vw;
            }

            &::-webkit-scrollbar-thumb {
                background: #b5add3;
                border-radius: .5vw;
                transition: .3s;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #cec8e3;
            }
        }

        &-row {
            width: 40vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2vw;
            padding: 1.5vw;
            border-bottom: 1px solid lightgray;
            transition: .3s;
            cursor: pointer;
            border-radius: .5vw;

            &:hover {
                background-color: #e9edff;
            }
        }

        &-schedule {
            font-size: .9vw;
            color: gray;
            text-align: center;
            width: 15%;
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .5vw;

            &-wrapper {
                height: 8vw;
                width: 25%;
                overflow: hidden;
                border-radius: .5vw;
            }
        }

        &-details {
            height: 100%;
            width: 65%;
            display: flex;
            flex-direction: column;
            gap: 1vw;
            //    justify-content: space-between;
        }

        &-title {
            font-size: 1vw;
            margin: 0;
        }

        &-subtitle {
            font-size: .9vw;
            font-weight: normal;
            margin: 0;
        }

        &-venue {
            font-size: .9vw;
            font-weight: normal;
            margin: 0;
            color: #29376f;
        }

        &-seeall {
            text-align: center;
            width: 100%;
            margin: 0;
        }

        &-noevents {
            text-align: center;
            width: 100%;
            height: 10vh;
            line-height: 10vh;
            margin: 0;
            font-weight: normal;
        }
    }

    &__card-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4vw;
        transition: .3s;
        margin-top: 2rem;
    }

    &__modal {
        &-wrapper {
            height: 100vh;
            width: 100vw;
            background-color: transparent;
            z-index: 5;
        }

        &-container {
            display: flex;
            flex-direction: column;
            position: fixed;
            background-color: white;
            border: 1px solid rgb(237, 237, 237);
            border-radius: 1vw;
            box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.417);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 2vw;
            // overflow: auto;
            max-width: 90vw;
            max-height: 85vh;
        }

        &-close {
            font-size: 1.2vw;
            font-weight: normal;
            color: gray;
            position: absolute;
            margin: 0;
            right: 0;
            cursor: pointer;
            margin: -1vw 1.1vw;
            transition: .3s;
            font-family: Arial, Helvetica, sans-serif !important;

            &:hover {
                color: #EBD28D;
            }
        }

        &-image {
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
}

@media only screen and (max-width: 640px) {
    .home {
        &__container {
            padding: 0 0 60vw 0;
        }

        &__postlist {
            gap: 6vw;
            margin-top: 5vw;
        }


        &__bg-video-container {
            position: relative;
            width: 100%;
            height: 91vh;
            animation: fade-in 1s ease-in;
            /* 16:9 aspect ratio (9 / 16 = 0.5625 or 56.25%) */
        }

        &__bg-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 91vh;
            object-fit: cover;
        }

        &__bg-video-overlay {
            position: absolute;
            color: white;
            width: 100%;
            height: 91vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.776));
            animation: fade-in 1.5s ease-in;

            &-title {
                font-size: 5vw;
                margin: 0;
                font-weight: normal;
                cursor: default;
            }

            &-subtitle {
                font-size: 5.5vw;
                margin: .5rem 0;
                font-weight: normal;
                cursor: default;
            }

            &-logo {
                height: 35vw;
                filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(205deg) brightness(108%) contrast(101%);
            }
        }

        &__section {
            height: fit-content;
            padding: 20vw 5vw;
            min-height: 70vh;

            &-col {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
            }

            &-title {
                font-size: 6.5vw !important;
            }

            &-text {
                font-size: 4vw;
            }

            &-about {
                &-image {
                    width: 100%;
                    margin: 10vw 0;
                    border-radius: 3vw;
                }
            }

            &-mission {
                &-image {
                    width: 100%;
                    margin-bottom: 5vw;
                }
            }


            &-tools {
                &-title {
                    margin: 0;
                    text-align: left;
                    font-size: 1.2rem;
                    font-weight: bold;
                    font-family: 'Belleza', sans-serif;
                }

                &-image {
                    height: 25vh;
                    margin: 5vh 0 0 0;
                    align-self: flex-end;
                }
            }

            &-logo {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80vh;
    
                &-image {
                    width: 70%;
                }
            }
        }

        &__card-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 15vw;
            transition: .3s;
            margin: 0;
        }

        &__modal {
            &-wrapper {
                height: 100vh;
                width: 100vw;
                background-color: transparent;
                z-index: 5;
            }

            &-container {
                border-radius: 3vw;
                padding: 0 0 5vw 0;
                width: 100vw;
                max-height: 75vh;
                height: fit-content;
                overflow: auto;
            }

            &-close {
                font-size: 6vw;
                margin: 3vw;
            }

            &-image {
                width: 50%;
                height: 50%;
                object-fit: cover;
            }
        }

        &__discount {
            &-row {
                display: flex;
                flex-direction: column;
                gap: 0;
                align-items: center;
                justify-content: center;
                height: fit-content;
                margin: 0;
            }

            &-card {
                width: 73vw;
                height: 12vh !important;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                position: relative;
                text-align: center;
                padding: 1.2vw 2.8vw;
                border-radius: .5rem;
                margin: 2.5rem 3.5rem 0 3.5rem;
                transition: .5s;
                position: relative;

                &:hover {
                    box-shadow: 45px 38px 64px -37px rgba(0, 0, 0, 0.54);
                    transform: translateY(-2%) rotate(-1deg);
                }

            }

            &-pricetag {
                width: 80vw;
                position: absolute;
                left: 0%;
                filter: invert(95%) sepia(13%) saturate(3142%) hue-rotate(302deg) brightness(124%) contrast(91%);
                z-index: 1;
            }

            &-percentage {
                font-family: 'Londrina Outline', cursive;
                font-size: 12vw;
                margin: 0 0 0 14vw;
                width: 30%;
            }

            &-insolvence {
                font-size: 1.1rem;
                margin: 0;
                width: 50%;
                margin: 0 0 0 10vw;
            }

            &-text {
                font-size: .8rem;
                margin: 0;
                width: 70%;
                margin-left: 3vw;
                cursor: default;
            }
        }

        &__event {
            &-calendar {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 1rem 0;
            }
    
            &-list {
                margin: 1rem 0;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-radius: 2vw;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
                max-height: 62vh;
                overflow: auto;
            }
    
            &-row {
                width: 85vw;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2vw;
                padding: 3vw;
                border-bottom: 1px solid lightgray;
                transition: .3s;
                cursor: pointer;
    
                &:hover {
                    background-color: #e9edff;
                }
            }
    
            &-schedule {
                font-size: 3vw;
                color: gray;
                text-align: center;
                width: 15%;
            }
    
            &-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 1vw;
    
                &-wrapper {
                    height: 16vw;
                    width: 25%;
                    overflow: hidden;
                    border-radius: 1vw;
                }
            }
    
            &-details {
                height: 100%;
                width: 65%;
                display: flex;
                flex-direction: column;
                gap: 1vw;
                //    justify-content: space-between;
            }
    
            &-title {
                font-size: 3.5vw;
                margin: 0;
            }
    
            &-subtitle {
                font-size: 3vw;
                font-weight: normal;
                margin: 0;
            }
    
            &-venue {
                font-size: 3vw;
                font-weight: normal;
                margin: 0;
                color: #29376f;
            }
    
            &-seeall {
                text-align: center;
                width: 100%;
                margin: 0;
            }
    
            &-noevents {
                text-align: center;
                width: 100%;
                height: 10vh;
                line-height: 10vh;
                margin: 0;
                font-weight: normal;
            }
        }
    

    }
}