.header {
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 9vh;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.062);
        position: relative;
        bottom: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        // background-color: #EBCE98;
        background-color: #fff;
        animation: move-y-up .7s ease-in;
    }

    &--fixed {
        position: fixed;
        top: 0;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 20%;
        height: 100%;

        &-text {
            font-size: 1vw;
            margin: 0 2vw;
            font-weight: normal;
            cursor: pointer;
            transition: .5s;

            &:hover {
                opacity: .5;
            }
        }

        &-image {
            margin: 0 1vw;
            height: 1.5vw;
            width: fit-content;
            cursor: pointer;
            transition: .5s;

            &:hover {
                filter: contrast(110%);
                transform: translateX(2%);
            }
        }
    }

    &__items {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 9vh;
        width: 90%;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 9vh;
        padding: 0 1.5vw;
        cursor: pointer;
        transition: 0.3s;
        position: relative;

        &-link {
            all: unset !important;
        }

        &:hover {
            background-color: #EBCE98;
        }

        &:hover .header__item-text {
            color: black !important;
        }

        &-text {
            font-size: 1.2rem;
            font-weight: normal;
            padding: 1rem 0;
            transition: 0.3s;
        }

        &-svg {
            height: 1.5rem;
        }

        &-dropdown {
            display: flex;
            position: absolute;
            margin: 9vh -1.5vw;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #EBCE98;
            opacity: 0;
            padding: 1vw;
            gap: 1vw;
            min-width: 15vw;
            min-height: 15vh;
            box-shadow: 7px 11px 16px -3px #9999995e;
            border-bottom-left-radius: 1vw;
            border-bottom-right-radius: 1vw;
            pointer-events: none;

            &-text {
                margin: .3vw 0;
                font-size: 1rem;
                font-weight: normal;
                position: relative;
                text-align: center;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #000;
                    transform-origin: bottom right;
                    transition: transform 0.4s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
            }
        }

        &:hover .header__item-dropdown {
            top: 0;
            transition: .5s;
            opacity: 1;
            pointer-events: initial;
        }
    }

    &__delete-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgb(255, 255, 255);
        padding: 1vw;
        border-radius: .5vw;
        box-shadow: 3px 3px 15px gray;
        z-index: 2;

        &-btns {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__login {
        &-icon {
            height: 1.5rem;
            align-self: flex-end;
            margin: 0 1.5rem;
            cursor: pointer;
            transition: .2s;
            filter: invert(83%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(94%) contrast(89%);

            &:hover {
                filter: invert(90%) sepia(97%) saturate(5307%) hue-rotate(313deg) brightness(96%) contrast(93%);
            }
        }
    }
}


// --- Mobile--- 
@media only screen and (max-width: 640px) {
    .header {
        &__container {
            height: 9vh;
            text-align: center;
            transition: .4s;
        }

        &__menu {
            &-btn {
                &-svg {
                    height: 2rem;
                    padding: 1rem;
                    filter: invert(83%) sepia(2%) saturate(10%) hue-rotate(314deg) brightness(100%) contrast(89%);
                }
            }
        }

        &__logo {
            width: fit-content;
            margin: 0;

            &-image {
                height: 1.4rem;
                animation: fade-in 1s forwards;
                // width: 30vw;
            }
        }

        &__items {
            transition: .4s;
            // gap: 2vw;
            justify-content: space-evenly;
            animation: fade-in 1s forwards;
        }

        &__item {
            // width: 20vw;
            justify-content: center;

            &-text {
                font-size: 4.5vw;
            }

            &:hover .header__item-dropdown {
                display: none !important;
            }
        }

    }
}