@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Open+Sans&family=PT+Serif&family=Belleza&family=Londrina+Outline&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'PT Serif', serif;
  font-family: 'Fira Sans', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Belleza', sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page__wrapper {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
