@import '../pages/Home/home.scss';
@import '../pages/PrivacyPolicy/privacy.scss';
@import '../pages/Contact/contact.scss';
@import '../pages/Login/login.scss';
@import '../pages/Subscribe/subscribe.scss';
@import '../constants/templates/templates.scss';
@import '../pages/SuccessPayment/successpayment.scss';
@import '../pages/Booking/booking.scss';

.page {
    &__header {
        align-self: center;

        &-title {
            font-size: 1.2vw;
            font-weight: normal;
            padding-bottom: 1.5vw;
            border-bottom: 1px solid gray;
        }
    }

    &__container {
        margin: 8rem 4vw 15vw 4vw;
        min-height: 60vh;
        position: relative;
    }

    &__title {
        animation: fade-in .7s ease-in;
        font-family: 'Belleza', sans-serif;
    }

    &__text {
        // width: 70%;
        font-size: 1.2rem;
        text-align: justify;
        animation: fade-in .7s ease-in;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
}

th {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    // background-color: #efefef;
}

.overflow-hidden {
    overflow: hidden;
}

// React Big Calendar (events)
.rbc-btn-group button {
    border-color: lightgray !important;
    border-radius: .5rem !important;
    margin: .2rem !important;
    cursor: pointer !important;
    transition: .3s !important;
    font-size: 1rem !important;
    background-color: #e0e5f9 !important;
    &:hover {
        filter: contrast(110%) !important;
    }
    &.rbc-active {
        background-color: #efdebd !important;
        box-shadow: none !important;
    }
}

.rbc-toolbar-label {
    font-size: 1rem !important;
    border-radius: .5rem !important;
    background-color: rgb(230, 230, 230);
    padding: .3rem 0 !important;
    margin: .2rem !important;
    cursor: default;
    font-weight: bold;
}

.rbc-month-view {
    border-radius: .5rem !important;
}

.rbc-off-range-bg {
    background-color: #f7f2e8 !important;
}

.rbc-event {
    background-color: #B0BCEB !important;
    color: black !important;
    font-size: .8rem !important;
    transition: .3s !important;
    &:hover{
       filter: brightness(110%) !important;
    }
}

.rbc-day-bg {
    transition: .3s !important;
    cursor: pointer !important;
    &:hover {
        background-color: rgb(247, 247, 247) !important;
    }
}

@media only screen and (max-width: 640px) {
    .page {
        &__header {

            &-title {
                font-size: 4vw;
                margin: 6vw 0 3vw 0;
                font-weight: normal;
                border-bottom: 1px solid gray;
                animation: move-y-up .7s ease-in;
            }
        }
    }
}