@import '../pages/Home/home.scss';
@import '../pages/PrivacyPolicy/privacy.scss';
@import '../pages/Contact/contact.scss';
@import '../pages/Login/login.scss';
@import '../pages/Subscribe/subscribe.scss';
@import '../constants/templates/templates.scss';
@import '../pages/SuccessPayment/successpayment.scss';
@import '../pages/Booking/booking.scss';

.page {
    &__header {
        align-self: center;

        &-title {
            font-size: 1.2vw;
            font-weight: normal;
            padding-bottom: 1.5vw;
            border-bottom: 1px solid gray;
        }
    }

    &__container {
        margin: 8rem 4vw 15vw 4vw;
        min-height: 60vh;
        position: relative;
    }

    &__title {
        animation: fade-in .7s ease-in;
        font-family: 'Belleza', sans-serif;
    }

    &__text {
        // width: 70%;
        font-size: 1.2rem;
        text-align: justify;
        animation: fade-in .7s ease-in;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
}

th {
    background-color: #f7f7f7;
}

tr:nth-child(even) {
    // background-color: #efefef;
}

.overflow-hidden {
    overflow: hidden;
}

@media only screen and (max-width: 640px) {
    .page {
        &__header {

            &-title {
                font-size: 4vw;
                margin: 6vw 0 3vw 0;
                font-weight: normal;
                border-bottom: 1px solid gray;
                animation: move-y-up .7s ease-in;
            }
        }
    }
}