.payment {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5vw;
        min-width: 40vw;
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        gap: .7rem;

        &-row {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            gap: 1rem;
        }

        &-title {
            font-size: 1.2vw;
            margin: 0;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        // align-items: center;
        gap: 1vw;
        width: 100%;
    }

    &__total-amount {
        font-size: 2.5vw;
        width: 100%;
        color: #EBAA59;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 2vw;
        align-items: flex-end;
        margin: .2rem 0;
    }

    &__total-text {
        font-size: 1.5vw;
        margin: .2vw 0;
    }

    &__btns {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__various-dates {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;

        &-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            border: 1px solid #B0BCEB;
            border-radius: .5rem;
            padding: .7rem;
            position: relative;

            &-label {
                font-size: 2rem;
                color: #B0BCEB;
                margin: 0;
                width: 30%;
                font-weight: normal;
                white-space: nowrap;
            }
        }
    }

    &__date-col {
        font-weight: normal;
        margin: 0;
    }

    &__loading-methods {
        font-size: 1.2vw;
        font-weight: normal;
        text-align: center;
    }

    &__message {
        font-size: 1.2vw;
        font-weight: normal;
        text-align: center;
        margin: 0;
        background-color: #ffdede;
        padding: .6rem;
        border-radius: .5vw;
        border: 1px solid #dbb1b1;
    }
}